<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.multilingualhivinformatics"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".English"
            android:label="@string/title_activity_english" >
        </activity>
        <activity
            android:name=".Hausa"
            android:label="@string/title_activity_hausa" >
        </activity>
        <activity
            android:name=".Igbo"
            android:label="@string/title_activity_igbo" >
        </activity>
        <activity
            android:name=".Yoruba"
            android:label="@string/title_activity_yoruba" >
        </activity>
    </application>

</manifest>
